<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/mashup" id="fors" method="POST">
    <section>
    <label for="artist">Enter the artist's name:</label>
    <input type="text" id="artist" placeholder="Enter artist name" name="artist">
    <br>
    <label for="vidqt">Enter the Number of videos:</label>
    <input type="Number" id="vidqt" placeholder="Enter no. of videos" name="vidqt">
    <br>
    <label for="time">Enter the duration(in secs):</label>
    <input type="Number" id="time" placeholder="Enter duration" name="time">
    <br>
    <label for="mail">Enter your Email id:</label>
    <input type="email" id="mail" placeholder="Enter email" name="email">
    <br>
    <button id="sub">Submit</button>
    </section>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    
</body>
</html>